/* .form1{ */
	 /* text-align:center;  */
	/* display:center; */
	
	
	
/* } */


body{
	
	background-color:gray ;

	
	
}

#one{
	
	color:orange;
	
	
}
td{
	
	
	color:green ;
}